<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="false">
    <property name="driverClassName" value="org.postgresql.Driver" />

<!--postgres_teste -->    
<!--
    <property name="url" value="jdbc:postgresql://172.25.0.5:5432/postgres_teste" />
    <property name="username" value="postgres" />
    <property name="password" value="postgres" />
    --> 
    <property name="url" value="jdbc:postgresql://172.25.0.9:5432/seinfra_producao" />
    <property name="username" value="gestel_man" />
    <property name="password" value="pdgestel_pg" />

  </bean>

  <!-- Hibernate Configuration-->
  <bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" lazy-init="false">
    <property name="dataSource" ref="dataSource" />
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
        <prop key="hibernate.show_sql">true</prop>
        <prop key="hibernate.hbm2ddl.auto">update</prop>
        <prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
      </props>
    </property>
    
    <property name="annotatedClasses">
      <list>
        <value>br.gov.ce.seinfra.model.Usuario</value>
        <value>br.gov.ce.seinfra.model.UnidadeAdministrativa</value>
        
        <value>br.gov.ce.seinfra.gestel.model.Acao</value>
        <value>br.gov.ce.seinfra.gestel.model.Conta</value>
        <value>br.gov.ce.seinfra.gestel.model.Divida</value>
        <value>br.gov.ce.seinfra.gestel.model.Dotacao</value>
        <value>br.gov.ce.seinfra.gestel.model.Fatura</value>
        <value>br.gov.ce.seinfra.gestel.model.Imagem</value>
        <value>br.gov.ce.seinfra.gestel.model.Mapp</value>
        <value>br.gov.ce.seinfra.gestel.model.Orgao</value>
        <value>br.gov.ce.seinfra.gestel.model.ProjetoFinalistico</value>
        <value>br.gov.ce.seinfra.gestel.model.Reajuste</value>
        <value>br.gov.ce.seinfra.gestel.model.Status</value>
        <value>br.gov.ce.seinfra.gestel.model.Telefone</value>
        <value>br.gov.ce.seinfra.gestel.model.Valor</value>
        <value>br.gov.ce.seinfra.gestel.model.ViewResumo</value>
        
      </list>
    </property>
  </bean>

  <!-- Transaction Manager Configuration -->
  <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="hibernateSessionFactory" />
  </bean>

  <!-- Usando annotations para controle de transacoes -->
  <tx:annotation-driven transaction-manager="txManager"/>

  <context:component-scan base-package="br.gov.ce.seinfra"/>

</beans>